html {
      scroll-behavior: smooth;
}

body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
}

#content {
      display: flex;
      flex-grow: 1;
}

#img-quickselection-menu-container {
      width: calc(100% - 340px);
}

#img-section {
      background-color: black;
      height: 400px;
}

#head-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

#info-quickselection-container {
      -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.51);
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.51);
}

#info-section {
      height: 150px;
      margin: 0 15%;
      padding: 16px;
}

#logo-img {
      height: 64px;
      width: 64px;
      position: relative;
      top: -202px;
}

#star-img {
      filter: invert(50%) sepia(45%) saturate(5838%) hue-rotate(5deg) brightness(102%) contrast(96%);
      height: 24px;
      width: 24px;
}

#bicycle-img {
      height: 20px;
      width: 20px;
}

#menu-section {
      margin: 0 15%;
      padding: 16px;
}

.dish {
      border: 1px solid gray;
      border-radius: 8px;
      margin: 16px 0;
      padding: 8px;
}
.name-button-container {
      display: flex;
      justify-content: space-between;
}

.add-dish-button {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 0.5px solid lightgray;
      color: orange;
      font-size: 24px;
      cursor: pointer;
}

.variation-selector-container {
      background-color: lightgray;
      height: 128px;
      border-radius: 16px;
      padding: 8px;
}

.variation-selector {
      height: 64px;
      width: 100%;
      margin-top: 16px;
      border-radius: 16px;
      font-size: 16px;
      padding: 8px;
}

#shopping-cart-container {
      background-color: yellowgreen;
      width: 336px;
      flex-grow: 1;
}

.section-header {
      height: 110px;
}

.section-header-headline {
      scroll-margin-top: 90px;
}
