#quickselection-section {
      display: flex;
      overflow-x: auto;
      height: 80px;
      background-color: orange;
      position: sticky;
      top: 0;
      align-items: center;
      gap: 16px;
}

.quickselection-link {
      color: black;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      padding: 0 10px;
      border: 1px solid #000;
      display: flex;
      height: 32px;
      align-items: center;
      justify-content: center;
      color: #000;
      white-space: nowrap;
}
