@media (max-width: 768px) {
      #shopping-cart-container {
            display: none;
      }

      #img-quickselection-menu-container {
            width: 100% !important;
      }

      #open-responsive-basket-button {
            display: flex;
      }
}

@media (max-width: 500px) {
      .variation-selector {
            font-size: 12px !important;
            padding: 0 !important;
      }
}

@media (max-width: 450px) {
      #open-responsive-basket-button {
            font-size: 20px;
      }

      #cucina {
            font-size: 20px;
            white-space: nowrap;
      }

      .section-description {
            font-size: 12px;
      }

      .dish-dialog-dish-name {
            font-size: 24px;
      }
}

@media (max-width: 366px) {
      .variation-selector {
            font-size: 10px !important;
      }
}
