#basket {
      width: calc(100% - 36px);
      height: 100vh;
      background-color: white;
      position: sticky;
      top: 0;
      padding: 16px;
      overflow-y: auto;
      border: solid 2px lightgray;
}

.basket-annotation-amount-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
}

.amount-container {
      display: flex;
      align-items: center;
      gap: 8px;
}

.amount-button {
      height: 32px;
      width: 32px;
      cursor: pointer;
      border-radius: 100%;
      border: none;
      font-size: 24px;
}

#shipping-cost-toggle-switch-container {
      justify-content: center;
      background-color: lightgray;
      border-radius: 32px;
      border: 2px solid lightgray;
}

#shipping-yes-container {
      width: 152px;
      border-radius: 32px;
      cursor: pointer;
}

#shipping-no-container {
      width: 152px;
      border-radius: 32px;
      cursor: pointer;
}

#cost-area-table {
      width: 100%;
}
