.display-none {
      display: none;
}

.text-align-center {
      text-align: center;
}

.margin-0 {
      margin: 0;
}
.margin-top-8 {
      margin-top: 8px;
}

.text-decoration-underline {
      text-decoration: underline;
}

.cursor-pointer {
      cursor: pointer;
}

.horizontal-separator {
      height: 2px;
      width: 100%;
      background-color: lightgray;
}

.flex {
      display: flex;
}

.gap-16 {
      gap: 16px;
}

.flex-space-between {
      display: flex;
      justify-content: space-between;
}

.align-items-center {
      align-items: center;
}

.background-white {
      background-color: white;
}

.text-align-right {
      text-align: right;
}

.text-align-left {
      text-align: left;
}

.font-weight-600 {
      font-weight: 500;
}
